<section class="card-holder">
    {{#each cardsToDisplay}}
        {{>card
            card-title=cardTitle
            card-img=cardImg
            card-body=cardBody
        }}
    {{/each}}
</section>