<div class="card">
    <div class="card-header">
        <img src="{{card-img}}" alt="{{card-title}}" />
        <span class="card-header-label">{{card-title}}</span>
    </div>
    <div class="card-body">
        <p>{{card-body}}</p>
    </div>
    <div class="card-footer right">
        <button>Agregar</button>
    </div>
</div>