<header>
    <section class="brand-section">
        <img class="brand" src="https://picsum.photos/id/12/64/64" />
        <h1>Portales Web I</h1>
    </section>
    <nav>
        <ul>
            <li>
                <a href="index.html">Inicio</a>
            </li>
            <li>
                <a href="galeria.html">Galería</a>
            </li>
            <li>
                <a href="#prices">Precios</a>
            </li>
            <li>
                <a href="contactso.html">Contacto</a>
            </li>
        </ul>
    </nav>
</header>